.splashscenes {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  color: #fff;
  font-size: 20px;
}
.splashscenes .scene {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.splashscenes .scene-1 {
  background: rgba(220,171,13,1);
}
.splashscenes .scene-1 .logo-gif {
  background-image: url(../../img/Evor_opening1050.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 40%;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
@media screen and (min-width: 1051px) {
  .splashscenes .scene-1 .logo-gif {
    background-image: url(../../img/Evor_opening.gif);
  }
}

.splashscenes .scene-2 {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.splashscenes .scene-2 > div {
  width: 100%;
  padding: 0 0 80px;
}
@keyframes welcome_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scene-2 h2 {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  animation: welcome_anim .8s ease-in-out;
}
.scene-2 h1 {
  opacity: 0;
  display: block;
  width: 170px; height: 62px;
  margin: 0 auto; margin-bottom: 10px;
  background-image: url(../../img/evor.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  animation: welcome_anim .8s ease-in-out;
  animation-delay: .2s;
}
.splashscenes .scene-2 .p-parent {
  position: relative;
  width: 100%;
  height: 44px;
}
.splashscenes .scene-2 p {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1.7px;
  margin: 0;
}
.scene-2 p.first, .scene-2 p.second {
  position: absolute;
  /* text-shadow: 0px 0px 4px rgba(255, 255, 255, 1); */
}
@keyframes p_first_anim {
  0% {
    right: calc(50% + 150px);
    opacity: 0;
  }
  100% {
    right: calc(50% - 100px);
    opacity: 1;
  }
}
@keyframes p_second_anim {
  0% {
    left: calc(50% + 150px); 
    opacity: 0;
  }
  100% {
    left: calc(50% - 120px); 
    opacity: 1;
  }
}
.scene-2 p.first {
  opacity: 0;
  top: 0;
  width: 130px;
  animation: p_first_anim .8s ease-in-out;
  animation-delay: 1s;
}
.scene-2 p.second {
  opacity: 0;
  bottom: 0;
  width: 180px;
  animation: p_second_anim .8s ease-in-out;
  animation-delay: 1s;
}
.scene-2 h2,
.scene-2 h1,
.scene-2 p.first, .scene-2 p.second {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.scene-2 .p-parent p:after {
  content: '';
  position: absolute;
  width: 500px;
  height: 1px;
  background: rgba(255,255,255,0.6);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
  box-shadow: 0px 0px 6px 1px rgba(255,255,255,1);
}
.scene-2 p.first:after {
  top: 8px;
  right: calc(100% + 10px);
}
.scene-2 p.second:after {
  bottom: 8px;
  left: calc(100% + 10px);
}

.splashscenes.did-end {
    display: none;
}