@import "../../variables.scss";

.notification-list {
  list-style: none;
  background-color: #fff;
  color: var(--gray-dark);
  padding-right: 15px;
  padding-left: 15px;
}

.notification-item + .notification-item {
  border-top: 1px solid #ddd;
}

.transaction-type, .transaction-date {
  margin-bottom: 10px;
  display: inline-block;
}

.transaction-type {
  font-weight: bold;
  float: left;
}

.transaction-date {
  font-style: italic;
  float: right;
}

.transaction-message {
  margin-bottom: 0;
}
.transaction-message:before {
  clear: both;
  display: block;
  content: '';
}