@import "../variables.scss";

.dashboard-container {
  color: var(--gray-dark);
}
.dashboard-tab-container {
    .tab-content {
      color: var(--gray-dark);
      padding: 0 15px;

      * {
        color: inherit;
      }
    }

    .tab-nav-link {
      padding: 14px 0;
      font-size: .75rem;
      min-height: 75px;
      border-radius: 0;
      border: none;
      letter-spacing: normal;

      &.active {
        background-color: $light-primary;
        color: $primary;
      }
      &:hover {
        color: $primary;
      }

      span {
        display: block;
        margin: auto;
      }
    }
}

.main-nav-tabs {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  // left: 0;
  width: 100%;
  border-bottom: 0;
  box-shadow: 0px -1px 6px 0px #ddd;

  .nav-item {
    margin-bottom: 0;
  }
}

.link-tpl-1 {
  color: var(--gray-dark);
  text-decoration: underline;

  &:hover, &:active {
    color: var(--gray-dark);
    opacity: .7;
  }
}