@import "../../variables.scss";

.sidebar {
  color: var(--gray-dark);
  background-color: rgba(0,0,0,.3);
  position: fixed;
  width: 100%;
  max-width: 600px;
  top: 0;
  overflow-y: auto;
  z-index: 2;
}
.sidebar-inner {
  position: relative;
  background-color: #ffffff;
  width: 300px;
  height: 100vh;
  transition: width .3s;
}

@keyframes sidebar_open {
  0% { width:100%; background:rgba(0,0,0,0); }
  100% {background:rgba(0,0,0,0.3); }
}
@keyframes sidebar_close {
  0% { background:rgba(0,0,0,0.3); }
  99% { width: 100%; }
  100% { width: 0; background:rgba(0,0,0,0); }
}
.sidebar-open {
  animation: sidebar_open .3s forwards;
  .sidebar-inner {
    width: 300px;
  }
}
.sidebar-close {
  animation: sidebar_close .3s forwards;
  .sidebar-inner {
    width: 0;
  }
}

.sidebar-ul, .sidebar-ul-bottom {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  width: 300px;
  position: absolute;
  right: 0;

  .list-link {
    padding: 8px 15px;
    align-items: center;
    color: #000000;
    display: flex;
  }

  .ico {
    margin-right: 10px;
  }
}
.sidebar-ul {
  padding-top: 100px;
  top: 0;
}
.sidebar-ul-bottom {
  bottom: 15px;
}

.ico.fa-user {
  background-image: url(../../img/icons/fa/user.svg);
}

.ico.fa-users {
  background-image: url(../../img/icons/fa/users.svg);
}

.ico.fa-calendar-alt {
  background-image: url(../../img/icons/fa/calendar-alt.svg);
}

.ico.fa-question-circle {
  background-image: url(../../img/icons/fa/question-circle.svg);
}

.ico.fa-power-off {
  background-image: url(../../img/icons/fa/power-off.svg);
}
