@import "../../variables.scss";

.history-list-top {
  border-bottom: 2px solid #eee;
  align-items: center;

  a {
    font-size: 1rem;
  }
}
.hl-title {
  padding: .5rem;
  border-bottom: 2px solid $primary;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: -2px;
}
.history-item > * {
  border-bottom: 2px solid #eee;
}
.t-type {
  color: #fff;
  padding: .25rem;
  font-size: .8rem;
  font-weight: normal;
}
.t-amt {
  font-size: 1rem;
  font-weight: bold;

  .code {
    margin-left: 4px;
    font-size: .75rem;
  }
}
.t-dt {
  color: var(--gray);
}