@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
  /* font-family: sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: rgba(220,171,13,1);
  background: linear-gradient(180deg, rgba(255,235,2,1) 0%, rgba(220,171,13,1) 55%, rgba(220,171,13,1) 100%) no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

a {
  /* color: #ffe48e; */
}
a:hover {
  color: #fff;
}
label {
  display: block;
  margin-top: 10px;
}
nav {
  display: flex;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#root {
  position: relative;
}



div.main {
  display: none;
}
.splashscenes.did-end + div.main {
    display: block;
}