@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

// bootstrap pre-customization
@import "./variables.scss";

@import "~bootstrap/scss/bootstrap";

// bootstrap post-customization
a:hover {
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 2px;
  letter-spacing: .1875rem;
}
h2 {
  font-size: 2.375rem;
}
input, .btn-lg {
  letter-spacing: .09375rem;
}
.btn.disabled, .btn:disabled {
  opacity: 1;
}
.btn-outline-primary {
  background-color: #fff;
  &:hover, &:not(:disabled):not(.disabled):active {
    color: $primary;
    background-color: $light-primary;
  }
  &:disabled {
    color: #999;
    background-color: #eee;
    border-color: #999;
  }
}
.btn-lg {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}
.show > .btn-outline-primary.dropdown-toggle {
  color: #999;
  background-color: #fff;
}
.dropdown-toggle.btn-lg {
  line-height: 1.4;
  font-size: .875rem;
}
.dropdown-menu.outline .dropdown-item:active {
  background-color: $light-primary;
}
.form-group {
  margin-bottom: 1.25rem;
}
.form-control-lg {
  height: calc(1.5em + 1.375rem + 2px);
  padding: 0.875rem 1.375rem;
  font-size: .875rem;
}
.form-control-tpl1 {
  padding-left: 3rem;
  padding-right: 3rem;
  &[type=email] {
    padding-right: 1.375rem;
  }
}
.pos-relative {
  position: relative;
}
.modal {
  color: #000;
}
.modal-body {
  p {
    font-size: .75rem;
  }
  .modal-body-head {
    font-size: 1rem;
    font-weight: bold;
  }
}
.modal-footer {
  justify-content: center;
}
.modal-footer .btn {
  color: #fff;
}
.terms-conditions-modal .modal-body {
  // -webkit-box-shadow: inset 0 -35px 24px -20px rgba(254,254,254,1);
  // -moz-box-shadow: inset 0 -35px 24px -20px rgba(255,255,255,1);
  // box-shadow: inset 0 -35px 24px -20px rgba(254,254,254,1);
  height: calc(100vh - 200px);
  overflow: auto;
  mask-image: linear-gradient(180deg, black 88%, transparent 99%);
}
.registration-completed-modal {
  text-align: center;
}
.registration-completed-modal ion-icon {
  color: #22af81; // green
}
.custom-control {
  font-size: .875rem;
  text-align: left;
  padding-left: 1.75rem;
}
.custom-checkbox .custom-control-label {
  &::before {
    border-radius: .75rem;
    width: 1.25rem;
    height: 1.25rem;
    left: -1.75rem;
  }
  &::after {
    left: -1.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}
.custom-control-input {
  width: 1.5rem;
  &:checked ~ .custom-control-label::before {
    border-color: #fff;
    border-width: 2px;
  }
}
.custom-control a {
  color: #fff;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

body {
  /* font-family: sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  letter-spacing: .04167rem;
  color: #fff;
  background: rgba(220,171,13,1);
  background: linear-gradient(180deg, rgba(255,235,2,1) 0%, rgba(220,171,13,1) 55%, rgba(220,171,13,1) 100%);
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.max-w-600 {
	max-width: 600px;
	margin: auto;
}
ion-icon {
  &[p-float] {
    position: absolute;
    top: 0;
    color: $input-placeholder-color;
    font-size: 25px;
  }
  &[p-float=left] {
    left: 0;
  }
  &[p-float=right] {
    right: 0;
  }
}
.pos-relative > ion-icon {
  &[p-float] {
    top: 9px;
  }
  &[p-float=left] {
    left: 12px;
  }
  &[p-float=right] {
    right: 12px;
  }
}
.pos-relative ion-icon[p-float] {
  &[name=alert-circle], &[name=checkmark-circle] {
    top: 14px;
    right: -20px;
    border-radius: 50%;
    font-size: 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
      z-index: -1;
      width: 14px; height: 14px;
      left: 3px; top: 3px;
      border-radius: 50%;
    }
  }
  &[name=alert-circle] {
    color: red;
  } 
  &[name=checkmark-circle] {
    color: #00b55e;
  }
  &[name=eye-off], &[name=eye] {
    padding: 7px;
    top: 2px;
    right: 5px;
    cursor: pointer;
  }
}


/*#region subject-to-remove*/
label {
  display: block;
  margin-top: 10px;
}
.main-nav {
  position: fixed;
  display: flex;
  z-index: 1;
  background-color: rgba(0,0,0,.1);
  width: 100%;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#root {
  position: relative;
}
/*#endregion subject-to-remove*/


div.main {
  display: none;
}
.splashscenes.did-end + div.main {
  display: block;
}
.display-center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display-center > * {
  width: 100%;
}
.max-width-330 {
  max-width: 330px;
  margin: 0 auto;
}


.start-page img {
  max-width: 160px;
  height: auto;
  margin: auto;
  display: block;
}

h5.bold {
  font-weight: bold;
}

// Register page & Login page
.submit-spinner {
  margin-right: 5px;
  vertical-align: -.125rem;
}
.early-step {
  flex-direction: column;
  text-align: center;
  .logo-col {
    background-image: url(./img/secure-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%; height: 200px;
    background-color: rgba($primary, 0.75);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 86%);
  }
  .inner:last-child > div {
    padding-top: 15px;
  }
  .text-danger {
    font-size: .8rem;
    letter-spacing: .5px;
    text-align: left;
    padding: 5px;
  }
}
@media screen and (min-width: 481px) {
  .early-step {
    .logo-col {
      background-size: 481px auto;
    }
  }
}
.verify-code {
  [name=mail-unread-outline] {
    font-size: 3rem;
  }
  [name=code] {
    letter-spacing: 1rem;
    text-align: center;

    &::placeholder {
      letter-spacing: .09375rem;
    }
  }
}
.form-group-password .error-msg {
  margin-bottom: 0;
}

.p-404 {
  width: 100vw;
  height: 100vh
}

.temporary-icon {
  display: block;
  width: 28px;
  height: 28px;
  background-color: $primary;
  border-radius: 50%;
}
.dashboard-container {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}
.with-nav-header {
  padding-top: 58px;
}
.with-main-nav-tabs {
  padding-bottom: 90px;
} 

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 58px;
  background: $primary;
  background: linear-gradient(90deg, rgba(255,235,2,1) 0%, rgba(220,171,13,1) 100%);
  color: #fff;
  align-items: center;
  box-shadow: 0px 1px 6px 0px #ddd;
  font-size: 1rem;

  a {
    color: #fff;
  }

  .nav-item:first-child, .nav-item:last-child {
    min-width: 64px;
  }
  .nav-title {
    font-weight: bold;
  }
}

.ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.recaptcha-wrapper {
  background-color: #ffffff;
  color: #000;
  padding: 1rem;
  max-width: 480px;
  margin: auto;

  p {
    font-size: .75rem
  }

  // overriding Recaptcha width
  > div,
  > div > div,
  > div > div > div,
  > div > div > div > div {
    width: 100% !important;
  }
}

// Hide input number spinner
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.set-password-page .inp-code {
  letter-spacing: .75rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  &::placeholder {
    letter-spacing: .09375rem;
    font-size: .82rem;
  }
}

.btn-get-code {
  font-size: 0.83rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  color: #fff;
  border: 1px solid;
  line-height: 19px;

  &:disabled {
    background-color: #ccc;
    color: #eee;
  }
}
.form-group-code .small-text {
  font-size: .7rem;
  text-align: left;
  padding: 4px 0 0 5px;
  margin: 0;
}
.form-group-code .small-text.text-right {
  text-align: right;
  padding: 4px 5px 0 0;
}
.form-group-code .small-text.with-counter {
  padding-top: 0;
}
.form-group-code .small-text span {
  font-size: .9rem;
}
.has-extra-msg {
  position: relative;

  .is-invalid-input+.v-error-text  {
    padding-top: 22px;
  }
  .is-invalid-input~.small-text {
    position: absolute;
    top: 45px;
  }
}
