$primary: #dcab0d;
$light-primary: #fff583;
$gray-light: #eeeeee;
$input-placeholder-color: #ccc;
$btn-border-radius: 2rem;
$btn-border-radius-lg: 2rem;
$btn-border-radius-sm: 2rem;
$input-border-radius: 2rem;
$input-border-radius-lg: 2rem;
$input-border-radius-sm: 2rem;
