@import "../../variables.scss";

.currency-card {
  margin: auto;
  margin-top: 1rem;
  border: 1px solid $gray-light;
  
  > * {
    padding: 0 1rem;
  }
}

.currency-card-top, .currency-card-body {
  padding: 8px 4px;
}

.currency-card-top {
  padding-bottom: 0;
  font-size: 1rem;
  font-weight: 300;

  span + span {
    margin-left: 5px;
  }
}

.currency-card-body {
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;

  .cents {
    font-size: 18px;
    color: #aaaaaa;
  }

  .currency-code {
    margin-left: 4px;
    font-size: .75rem;
  }
}

.currency-card-bottom {
  background-color: $gray-light;
  padding-right: 8px;
}

.currency-card-nav-link {
  padding: 5px 8px;
}

